* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302px, max-content));
}

.card {
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
